{
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "react/jsx-max-props-per-line": [
      "error",
      { "maximum": 3, "when": "multiline" }
    ],
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "all",
        "tabWidth": 2,
        "useTabs": false,
        "semi": false,
        "endOfLine": "auto"
      }
    ],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
