
element.style {
    max-width: 10px;
    margin: 0 auto;
}

.formProductCheckbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
}

.productSelect{
padding: 8px;

} 


.buttonsContainers{
    margin: 5px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif; 
    display: flex;
    justify-content: center;
    gap: 6px;
    
    }
.checkboxContainer{
   display: inline;
   flex-wrap: wrap;
}
/* .animated {
    -webkit-animation-duration:2s;
    animation-duration: 2s;
    
    animation-fill-mode: both;
   }
   @-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
   25%, 75% {
    opacity: 0;
    }
   }
   @keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
   25%, 75% {
    opacity: 0;
    }
   }
   .flash {
    -webkit-animation-name:flash;
    animation-name: flash;
   } */
    
