
element.style {
    max-width: 10px;
    margin: 0 auto;
}

.formProductCheckbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px;
}

.productSelect {
    padding: 2px 8px;
    width: fit-content;
}


.buttonsContainers{
    margin: 5px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif; 
    display: flex;
    justify-content: center;
    gap: 6px;
    
    }
    .checkboxContainer {
        display: flex;
        flex-direction: column;
    }
