body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button[disabled] {
	all: unset;
}

button,
button[disabled] {
	padding-block: 0.25em;
	padding-inline: 0.5em;
	font-size: large;
	font-weight: 500;
	font-family: 'Lucida Sans';
	border-radius: 5px;
	outline: none;
	border: 2px solid #686868;
	color: #686868;
	background-color: #dadada;
	transition: all 0.5s ease-in-out;
	user-select: none;
}

button.primary {
	border: 2px solid #dadada;
	color: #dadada;
	background-color: #686868;
}

button.primary:hover {
	border: 2px solid #686868;
	color: #686868;
	background-color: #dadada;
}

button:hover {
	border: 2px solid #dadada;
	color: #dadada;
	background-color: #686868;
}

button:active {
	transform: scale(0.9);
}

#root {
	min-height: 100vh;
}

select {
    border-radius: 5px;
    min-width: 120px;
    padding-inline: .5em;
}